VB/RichEditSendMailSL/Service References/MailServiceReference/MailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttachementInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachementInfo" nillable="true" type="tns:AttachementInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachementInfo" nillable="true" type="tns:ArrayOfAttachementInfo" />
  <xs:complexType name="AttachementInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachementInfo" nillable="true" type="tns:AttachementInfo" />
</xs:schema>